.form-floating > label {
  font-style: italic;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  font-style: normal;
}

.accordion-collapse.show {
  overflow: visible !important;
}
