@use "sass:color";

:root {
  --sv-bg: #{$input-bg};
  --sv-item-selected-bg: #{color.adjust($input-bg, $lightness: +10%)};
  --sv-dropdown-active-bg: var(--sv-item-selected-bg);
  --sv-color: #{$input-color};
  --sv-icon-color: #{$input-color};
  --sv-placeholder-color: #{$input-placeholder-color};
  --sv-border: 1px solid #{$input-border-color};
}

.sv-dd-item {
  cursor: pointer;
}

.sv-content.has-multiSelection {
  .sv-item {
    padding: 0 0.5em;
    display: flex;
    align-items: center;
  }

  .sv-item-btn {
    padding-top: 0.2em !important;
  }
}
